.custom-file-input-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
  background-color: #fff;
}

.custom-file-input-avatar {
  background-color: #fff !important;
  border: 1px solid #000 !important;
}

.custom-file-input {
  font-size: 4rem;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
